.navigation {
  grid-area: nav;
  background: rgba(112,139,161,5);
  color: cornsilk;
}

.navigation a:hover{
  color: cornflowerblue;
}


.navItem a{
  color:white;
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}

.navItem a.active {
  color: cadetblue;
}